<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'login.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
      <input type="text" name="email" placeholder="Email address"/>
      <input type="password" name="pwd" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="{% url 'signup' %}">Create an account</a></p>
    </form>
  </div>
</div>
<!-- //main -->
</body>
</html>

